@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: kanit, sans-serif;
    background: url(../../assets/images/stars-galaxy-3840x2560-10307.jpg) no-repeat center center;
    color: white;
}

header {
    padding: 5px;
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    font-family: "rubik mono one", sans-serif;
    color: rgb(158, 1, 158);
    margin-top: 20px;
}

#logo-image {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 44.5vw;
    top: -44px;
    z-index: -1;
    filter: brightness(80%);
}

header>h1 {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

nav {
    text-align: center;
    margin: 35px 0 15px 0;
}

nav li {
    display: inline;
    font-size: 1.5rem;
    margin: auto 20px;

}

nav li .nav-btn {
    border-style: double;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    padding: 5px;
}

.nav-btn:hover {
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.950);
    color: rgba(0, 0, 0);
}


.slider {
    width: 90vw;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    text-align: center;

}

.slide-sections {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border: 5px solid white;
    border-radius: 20px;

}

.slide-sections>div {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    width: 90vw;
    max-width: 300px;
    height: 70vw;
    max-height: 570px;
    margin-right: 20px;
    border-radius: 20px;
    scroll-snap-align: start;
    padding: 20px 100px;
}

.slide-sections::-webkit-scrollbar {
    height: 0;
}

#instructions h2 {
    text-decoration: underline;
}

#instructions p,
#about p {
    font-size: 1.2rem;
    color: white;
}

#about p span {
    font-size: 1.6rem;
}

.btn,
.ingame-btn {
    font-size: 1.3em;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-weight: 550;
}

.btn:hover,
.ingame-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid white;
}

.choices>.ingame-btn {
    font-size: 30px;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
}

#rock-btn,
#paper-btn,
#scissors-btn {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    margin-left: 20px;
}

#lizard-btn,
#spock-btn {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 5px;
    margin-left: 20px;
}

.round-result p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 30px;
}

.score-board {
    border: 2px solid white;
    border-radius: 5px;
    top: 10px;
    width: 150px;
    margin: 30px auto;
    font-size: 3rem;
    padding: 0 20px;
    position: relative;
}

.badge {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 25px;
    left: -25px;
    color: black;
    font-weight: 600;
}

#comp-label {
    position: absolute;
    top: 25px;
    right: -30px;
    color: black;
    font-weight: 600;
}

#game-result {
    font-size: 40px;
    margin-top: 10px;
}

#play-again-btn {
    margin-top: 30px;
}

#feedback-page {
    font-size: 1.5rem;
}

#feedback-page h2 {
    font-size: 1.9rem;
    margin-top: 20px;
}

#form input,
#form textarea {
    display: block;
    padding: 5px;
    margin: 5px auto 15px;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: white;
    font-family: kanit, sans-serif;
    font-size: 1.1rem;
}

#form textarea {
    width: 300px;
    height: 100px;
    padding-top: 0;
    padding-left: 0;
}

#feedback-submit {
    margin: 20px;
}

footer {
    text-align: center;
}

footer li a {
    color: white;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 2rem;
    padding: 20px;
}

#social-media i:hover {
    font-size: 2.2rem;
}

@media screen and (max-width: 1600px) {

    #logo-image {
        left: 42.5vw;
    }
}

@media screen and (max-width: 1350px) {

    #logo-image {
        left: 41.5vw;
    }
}


@media screen and (max-width: 1150px) {

    #logo-image {
        left: 40vw;
    }
}

@media screen and (max-width: 1000px) {


    #logo-image {
        left: 38.5vw;
    }
}

@media screen and (max-width: 800px) {

    #logo-image {
        left: 36vw;
    }

    .slide-sections>div {
        height: 110vw;
    }
}

@media screen and (max-width: 650px) {

    #logo-image {
        left: 32vw;
    }

    .slider {
        max-width: 400px;
    }

    .slide-sections>div {
        padding: 20px 50px;
        width: 80vw;
        max-width: 300px;
    }
}

@media screen and (max-width: 520px) {



    .slide-sections>div {
        padding: 5px 70px;
        width: 70vw;
        max-width: 250px;
        height: 150vw;
        max-height: 700px;
    }
}


@media screen and (max-width: 480px) {

    #instructions p {
        font-size: 1.15rem;
    }

    nav li {
        display: block;
        margin: 30px 20px;
    }

    .slider {
        max-width: 300px;
    }

    .slide-sections>div {
        padding: 5px 20px;
        height: 240vw;
        max-height: 750px;
    }
}

@media screen and (max-width: 350px) {
    #instructions p {
        font-size: 1.1rem;
    }
}