@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: kanit, sans-serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(7, 7, 24, 1) 35%, rgba(22, 25, 148, 1) 100%);
    color: white;
}

header {
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav li {
    display: inline;
    font-size: 1.5rem;
    margin: auto 20px;

}

nav li .nav-btn {
    border-style: double;
    background-color: rgb(16, 2, 68);
    text-decoration: none;
    color: white;
    padding: 5px;
}

.nav-btn:hover {
    border-color: rgb(16, 2, 68);
    background-color: white;
    color: rgb(16, 2, 68);
}


.slider {
    width: 90vw;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
    text-align: center;

}

.slide-sections {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    border: 5px solid white;
    border-radius: 20px;
}

.slide-sections>div {
    position: relative;
    background: rgb(16, 2, 68);
    flex-shrink: 0;
    width: 90vw;
    max-width: 300px;
    height: 70vw;
    max-height: 570px;
    margin-right: 20px;
    border-radius: 20px;
    scroll-snap-align: start;
    padding: 20px 100px;
}

#instructions h2 {
    text-decoration: underline;
}

#instructions p,
#about p {
    font-size: 1.2rem;
    color: white;
}

#about p span {
    font-size: 1.6rem;
}

.btn {
    font-size: 1.3em;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    font-weight: 550;
}

.btn:hover {
    background-color: rgb(16, 2, 68);
    color: white;
    border: 2px solid white;
}

.user-btn {
    font-size: 30px;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 50%;
}

#rock-btn,
#paper-btn,
#scissors-btn {
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    padding: 5px;
    margin-left: 20px;
}

#lizard-btn,
#spock-btn {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 5px;
    margin-left: 20px;
}

.user-btn:hover {
    border-color: rgb(16, 2, 68);
    background-color: white;
    color: rgb(16, 2, 68);
}

.round-result p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 10px;
}

.score-board {
    border: 2px solid white;
    border-radius: 5px;
    top: 10px;
    width: 150px;
    margin: 10px auto;
    font-size: 3rem;
    padding: 0 20px;
    position: relative;
}

.badge {
    background-color: white;
    color: rgb(16, 2, 68);
    font-size: 15px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 25px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 25px;
    right: -30px;
}

#game-result {
    margin-top: 20px;
}

#play-again {
    margin-top: 15px;
}

#feedback-page {
    font-size: 1.5rem;
}

#feedback-page h2 {
    font-size: 1.9rem;
    margin-top: 20px;
}

#form input,
#form textarea {
    display: block;
    padding: 10px;
    margin: 5px auto 15px;
    color: #ffffff;
    border: 2px solid rgb(16, 2, 68);
    border-radius: 10px;
    background: white;
}

#form textarea {
    padding: 40px;
}

#feedback-submit {
    margin: 20px;
}

footer {
    text-align: center;
}

footer li a {
    color: white;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 2rem;
    margin: 1%;
    padding: 20px;
}